.featured-products {
    text-align: center;
    font-size:45px;
    padding: 10px;
    margin-bottom: 20px;
    
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    padding-left: 130px;
    padding-right: 70px;
    margin-bottom: 48px;
}

/* For medium screens (tablets) */
@media (max-width: 1024px) {
    .product-grid-container {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 70px;
        padding-right: 40px;
    }
}

/* For small screens (mobile devices) */
@media (max-width: 768px) {
    .product-grid-container {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 90px;
        padding-right: 20px;
        gap: 15px;
    }
}

/* For extra small screens */
@media (max-width: 480px) {
    .product-grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 80px;
        padding-right: 10px;
        gap: 10px;
    }
}
