@media (min-width: 768px) and (max-width: 1024px) {
    .order-summary {
        width: 60%;
        margin-left: 0;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
