@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
	font-size: 1.2rem;
	margin: 0 1rem 0 1rem;
}

.nav-icons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-login-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 1rem 1rem 1rem;
}

.sign-in {
	border: 1px solid black;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}