@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
	font-size: 1.2rem;
	margin: 0 1rem 0 1rem;
}

.nav-icons {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.nav-login-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

@media (max-width: 800px) {
	.nav-login-icon {
		margin: 0 0 0.5rem 0;
	}
}

.sign-out {
	border: 1px solid black;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 800px) {
	.sign-out {
		border: none;
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.nav-indicator {
	/* background-color: red; */
	background-color: #edcf5d;
    color: #262626;
    border-radius: 100%;
    padding-top: 2px;
    font-size: 10px;
	font-weight: 900;
	width: 18px;
	height: 18px;
	text-align: center;
}

.cart-count {
    position: absolute;
    top: -10px;
	right: 0;
}

.wishlist-count {
    position: absolute;
    top: -10px;
    right: 5px;
}