@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
	font-size: 1.2rem;
	margin: 0 1rem 0 1rem;
}

.nav-icons {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}

.nav-login-icon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
@media (max-width: 800px) { 
	.nav-login-icon {
		margin: 0 0 0.5rem 0;
	}
}

.sign-in {
	border: 1px solid black;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;	
}
@media (max-width: 800px) {  
	.sign-in {
	  border: none;
	}
}